body
{
    background-color: green;
}

.drop
{
    background-color: rbga(0,0,0,0);
    border:1px solid white;
}
.signIn
{
    border-radius: 5px;
}
@media only screen and (max-width: 600px)
{
    .header-logo
    {
        width:100px;
    }
    .lang
    {
        display:none;
    }
}